@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$primary-background-color: rgb(27, 27, 27);
$primary-color: seashell;
* {
    background-color: $primary-background-color;
    font-family: "Press Start 2P", cursive;
}
.main_container {
    color: $primary-color;
    gap: 30px;
    display: grid;
    grid-template-areas:
        " . h1 h1 h1 . "
        ". h1 h1 h1 . "
        ". input btn3 output ."
        ". input btn1 output ."
        ". input btn2 output ."
        ". input . output .";
}
p {
    background-color: rgba(255, 245, 238, 0.596);
    color: $primary-background-color;
}

h1 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 100px;
}

button {
    width: 5rem;
    appearance: button;
    background-color: $primary-background-color;
    background-image: none;
    border: 1px solid $primary-color;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px, 0px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:focus {
    text-decoration: none;
}

button:hover {
    text-decoration: none;
}

button:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
}

button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}
#translateBtn {
    width: 100px;
    height: 40px;
}
#translateBtn2 {
    width: 100px;
    height: 40px;
}

#heading {
    grid-area: h1;
}
#box {
    grid-area: input;
    display: flex;
    flex-direction: column;
}
.output__container {
    grid-area: output;
    &--text {
        text-align: center;
    }
}
#btn1 {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: btn1;
}
#btn2 {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: btn2;
}

#btn3 {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: btn3;
}

#inputForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: -30px;
    justify-content: space-between;
    margin-right: 0px;
}
#input {
    margin-top: 30px;
    color: $primary-color;
    width: 400px;
    height: 200px;
    border: 2px $primary-color solid;
    border-radius: 5px;
    font-size: 19px;
    padding: 0px;
    background-color: rgba(255, 245, 238, 0.596);
}
#output {
    margin-top: 30px;
    border: 2px $primary-color solid;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color: rgba(255, 245, 238, 0.596);
}
